.attendance-list {
  margin: 0;
  padding: 0rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .attendance-list {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {
  .attendance-list {
    padding: 0rem;
  }
}
