.table-cell {
  &-header {
    &--staff-name {
      width: clamp(140px, 20vw, 200px);
      min-width: 140px;
    }
  
    &--start-time, &--end-time, &--overtime {
      width: clamp(72px, 12vw, 100px);
      min-width: 72px;
    }
  }
}

.attendance-row {
  &:hover {
    background-color: #f5f5f5;
  }
}

@media (max-width: 899px) {
  .table-cell {
    &-header {
      &--staff-name {
        width: 140px;
        min-width: 120px;
      }

      &--start-time, &--end-time, &--overtime {
        width: 84px;
        min-width: 70px;
      }
    }
  }
}
